<mat-card>
    <mat-card-content>
        <mat-list role="list" *ngFor="let task of tasks">
            <mat-list-item (click)="taskApi.selectTask(task)">
                <span>{{task.name}}</span>&nbsp;-&nbsp;
                <mat-form-field *ngIf="task.due">
                    <input matInput [matDatepicker]="duepicker" 
                    [(ngModel)]="task.due" name="task-due" disabled>
                </mat-form-field>
                <span class="orange" *ngIf="!task.due">No due date</span>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-card-actions>
        Actions here
    </mat-card-actions>
</mat-card>