/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.full-width{
    width: 100%;
}

.orange{
    color: #FF9800;
}

mat-grid-tile{
    border: 1px solid #f5f5f5;
}